Client.CustomerService.Framework/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43566/API/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Client.Model" />
  <xs:import schemaLocation="http://localhost:43566/API/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" />
  <xs:element name="SetIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.Model" minOccurs="0" name="onlineStatus" type="q1:UserOnlineStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="SetInResult" nillable="true" type="q2:OperatingResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOnlineStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Client.Model" minOccurs="0" name="newOnlineStatus" type="q3:UserOnlineStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOnlineStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="ChangeOnlineStatusResult" nillable="true" type="q4:OperatingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="GetUsersResult" nillable="true" type="q5:OperatingResultOfArrayOfUserInfoResult5O3_PPRz2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="HeartbeatResult" nillable="true" type="q6:OperatingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>