Client.CustomerService.Framework/Service References/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43566/API/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Client.Model" />
  <xs:import schemaLocation="http://localhost:43566/API/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OperatingResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperatingResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperatingResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperatingResultOfstring" nillable="true" type="tns:OperatingResultOfstring" />
  <xs:complexType name="OperatingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatingResult" nillable="true" type="tns:OperatingResult" />
  <xs:complexType name="OperatingResultOfArrayOfUserInfoResult5O3_PPRz2">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperatingResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUserInfoResult" Namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperatingResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfUserInfoResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperatingResultOfArrayOfUserInfoResult5O3_PPRz2" nillable="true" type="tns:OperatingResultOfArrayOfUserInfoResult5O3_PPRz2" />
  <xs:complexType name="ArrayOfUserInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfoResult" nillable="true" type="tns:UserInfoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfoResult" nillable="true" type="tns:ArrayOfUserInfoResult" />
  <xs:complexType name="UserInfoResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.Model" minOccurs="0" name="OnlineStatus" type="q1:UserOnlineStatus" />
      <xs:element minOccurs="0" name="Type" type="tns:UserInfoType" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoResult" nillable="true" type="tns:UserInfoResult" />
  <xs:simpleType name="UserInfoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="上级">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="下级">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="用户">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">201</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="客服">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">301</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserInfoType" nillable="true" type="tns:UserInfoType" />
</xs:schema>