ToClient/Service References/MessageService/MessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4293/Api/MessageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4293/Api/MessageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4293/Api/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageService_GetCountOfUnreadMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfUnreadMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetCountOfUnreadMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountOfUnreadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetUnreadMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetUnreadMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageService">
    <wsdl:operation name="GetCountOfUnreadMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetCountOfUnreadMessages" message="tns:IMessageService_GetCountOfUnreadMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetCountOfUnreadMessagesResponse" message="tns:IMessageService_GetCountOfUnreadMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetUnreadMessages" message="tns:IMessageService_GetUnreadMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetUnreadMessagesResponse" message="tns:IMessageService_GetUnreadMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetMessages" message="tns:IMessageService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetMessagesResponse" message="tns:IMessageService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/Send" message="tns:IMessageService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/SendResponse" message="tns:IMessageService_Send_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageService" type="tns:IMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountOfUnreadMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetCountOfUnreadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetUnreadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/IMessageService/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="BasicHttpBinding_IMessageService" binding="tns:BasicHttpBinding_IMessageService">
      <soap:address location="http://localhost:4293/Api/MessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>