ToClient/Service References/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4293/Api/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4293/Api/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4293/Api/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Client.Model" />
      <xsd:import schemaLocation="http://localhost:4293/Api/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_SetIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIn" />
  </wsdl:message>
  <wsdl:message name="IUserService_SetIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangeOnlineStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOnlineStatus" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangeOnlineStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOnlineStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="IUserService_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="SetIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SetIn" message="tns:IUserService_SetIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SetInResponse" message="tns:IUserService_SetIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOnlineStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangeOnlineStatus" message="tns:IUserService_ChangeOnlineStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangeOnlineStatusResponse" message="tns:IUserService_ChangeOnlineStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetFriends" message="tns:IUserService_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetFriendsResponse" message="tns:IUserService_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Heartbeat" message="tns:IUserService_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/HeartbeatResponse" message="tns:IUserService_Heartbeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetIn">
      <soap:operation soapAction="http://tempuri.org/IUserService/SetIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOnlineStatus">
      <soap:operation soapAction="http://tempuri.org/IUserService/ChangeOnlineStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <soap:operation soapAction="http://tempuri.org/IUserService/Heartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:4293/Api/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>