Client.CustomerService.Framework/Service References/MessageService/MessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:43566/API/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" />
  <xs:element name="GetCountOfUnreadMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfUnreadMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="GetCountOfUnreadMessagesResult" nillable="true" type="q1:OperatingResultOfArrayOfUnreadMessageCountResult5O3_PPRz2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreadMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnreadMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="GetUnreadMessagesResult" nillable="true" type="q2:OperatingResultOfArrayOfMessageResult5O3_PPRz2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="GetMessagesResult" nillable="true" type="q3:OperatingResultOfPaginationListOfMessageResult5O3_PPRz25O3_PPRz2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="import" nillable="true" type="q4:SendMessageImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" minOccurs="0" name="SendResult" nillable="true" type="q5:OperatingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>