Client.CustomerService/Service References/PicService/PicService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperatingResultOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperatingResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperatingResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperatingResultOfstring" nillable="true" type="tns:OperatingResultOfstring" />
  <xs:complexType name="OperatingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatingResult" nillable="true" type="tns:OperatingResult" />
</xs:schema>