Client.CustomerService/Service References/UserService/OfficialUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OfficialUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.119:4511/OfficialUserService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.119:4511/OfficialUserService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.119:4511/OfficialUserService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Client.Model" />
      <xsd:import schemaLocation="http://192.168.1.119:4511/OfficialUserService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Client.Service.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOfficialUserService_SetIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIn" />
  </wsdl:message>
  <wsdl:message name="IOfficialUserService_SetIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInResponse" />
  </wsdl:message>
  <wsdl:message name="IOfficialUserService_ChangeOnlineStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOnlineStatus" />
  </wsdl:message>
  <wsdl:message name="IOfficialUserService_ChangeOnlineStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOnlineStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOfficialUserService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IOfficialUserService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IOfficialUserService">
    <wsdl:operation name="SetIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfficialUserService/SetIn" message="tns:IOfficialUserService_SetIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfficialUserService/SetInResponse" message="tns:IOfficialUserService_SetIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOnlineStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfficialUserService/ChangeOnlineStatus" message="tns:IOfficialUserService_ChangeOnlineStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfficialUserService/ChangeOnlineStatusResponse" message="tns:IOfficialUserService_ChangeOnlineStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfficialUserService/GetUsers" message="tns:IOfficialUserService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfficialUserService/GetUsersResponse" message="tns:IOfficialUserService_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOfficialUserService" type="tns:IOfficialUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetIn">
      <soap:operation soapAction="http://tempuri.org/IOfficialUserService/SetIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOnlineStatus">
      <soap:operation soapAction="http://tempuri.org/IOfficialUserService/ChangeOnlineStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IOfficialUserService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfficialUserService">
    <wsdl:port name="BasicHttpBinding_IOfficialUserService" binding="tns:BasicHttpBinding_IOfficialUserService">
      <soap:address location="http://192.168.1.119:4511/OfficialUserService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>